body {
  background-color: blue;
  /* height: 500%; */
  margin: 0;
	font-family: 'Prayer Regular';
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container-wrap {
	background: #0000ff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.row {
  width: 100%;
  height: 15%;
}

.big {
  background: #0000ff;
  height: 70%;
  display: flex;
}

.side {
  width: 15%;
  height: 100%;
  background: black;
}

.apple {
  width: 70%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  overflow: hidden;
}

.apple::after {
  content:"apple";
}

.box {
  max-width:1000px;
  height:100px;
  background:red;
  margin:5%;
}

/* NAVIGATION
--------------------------------------- */
.nav-wrap {
  width: 100%;
  height: 15%;
}

.nav {
  /* font-size: 100px;
  white-space: nowrap;
  text-align: center;
  padding: 22px 0 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  left: 50%; */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff0000;
  display: inline-block;
  white-space: nowrap;
}

.welcome-wrap {

	width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  overflow: hidden;
}

.welcome {
  max-width: 100%;
  width: 60%;
	margin:auto;
  /* max-height: 100vh; */
}

.welcome img {
  overflow: none;
  z-index: -1;
  max-width: 100vw;
  width: 100%;
}

.prayer-wrap {
  width: 100%;
  height: 500px;
  position: absolute;
	margin:auto;
	font-size:2rem;
	width:50%;
	color:red;
	text-align: center;
	transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

}

.prayer {

	color:red;
}
